<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="mt-5">Your Profile</h1>
  <p th:text="'Email: ' + ${user.email}"></p> <!-- 사용자 이메일 표시 -->
  <p th:text="'Name: ' + ${user.name}"></p> <!-- 사용자 이름 표시 -->

  <a th:href="@{/loginHome}" class="btn btn-primary mr-2">Home</a>
  <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
</div>
</body>
</html>
